# Dependências
node_modules/

# Build (Código compilado)
dist/
build/
out/

# Variáveis de ambiente (Segurança)
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema e IDEs
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Docker
# .dockerignore